--extra-index-url https://archive.panda3d.org/branches/release/1.10.x
sphinx>=1.8,!=3.5.0
sphinx-variations>=1.0.5
sphinx-rtd-theme~=1.0.0
sphinx-autopackagesummary>=1.0
sphinx-interrogatedb~=1.2
panda3d~=1.10.0.dev
Pmw
