--extra-index-url https://archive.panda3d.org/branches/release/1.10.x
sphinx>=1.8
sphinx-variations>=1.0.4
sphinx-rtd-theme==0.4.3
sphinx-autopackagesummary>=1.0
sphinx-interrogatedb
sphinxcontrib-napoleon
panda3d~=1.10.0.dev
Pmw
