body, .wy-body-for-nav {
    background: url("https://www.panda3d.org/wp-content/themes/panda3d/assets/img/elements/background.jpg") #f9f9f9;
}

.wy-grid-for-nav {
    position: inherit !important;
    max-width: 1100px;
    margin: 0 auto;
    -webkit-box-shadow: 3px 3px 15px rgba(0,0,0,0.15);
    box-shadow: 3px 3px 15px rgba(0,0,0,0.15);
}

@media screen and (min-width: 767px) {
    .wy-nav-side {
        left: inherit;
    }
}

/* top bar that appears in mobile version */
.wy-nav-top {
    background: #404040;
    height: 55px;
    line-height: 55px;
    padding: 0 0;
}

.wy-nav-top i {
    font-size: 24px;
    line-height: 55px;
    padding: 0 16px;

    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(50%,transparent),color-stop(50%,#252424));
    background-image: -webkit-linear-gradient(top,transparent 50%,#252424 50%);
    background-image: linear-gradient(to bottom,transparent 50%,#252424 50%);
    background-size: 100% 200%;
    -webkit-transition: all .25s cubic-bezier(0.4,0,0.2,1);
    transition: all .25s cubic-bezier(0.4,0,0.2,1);
}

.wy-nav-top i:hover, .wy-nav-top i:active, .wy-nav-top i:focus {
    background-position: 0 100%;
}

.wy-nav-content {
    background: #fff;
    border-radius: 4px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

/* style the version selection links */
.sidebar-curr-variation {
    margin: 4px 6px;
}

.sidebar-variation-link {
    /*border-bottom: 1px solid white;*/
    text-decoration: underline;
    font-weight: bold;
}

/* make search box border match the background */
.wy-side-nav-search input[type=text] {
    border-color: #624bcc;
}

.wy-menu-vertical li span.toctree-expand {
    margin-left: -1.4em;
}

.wy-menu-vertical a {
    padding: .4045em 1.918em;
}

/* make sidebar link click state match the background color */
.wy-menu-vertical a:active {
    background-color: #735cdd;
}

/* center inheritance diagrams */
.inheritance.graphviz {
    margin: 15px auto;
    display: block;
}
